@{
    ViewData["Title"] = "Home Page";
}

<div class="container-around d-flex justify-content-center align-items-center " style="height: auto; border-radius: 5px; border: 5px; background-color: #f1f1f1;">
  <div class="row container-fluid justify-content-center align-items-center m-5" style="background-color: white; border: 3px solid white; border-radius: 5px;">
      <div class="col-sm-12 col-md-6 col-lg-3" style="height: 150px;">
          <div id="sec1" class="container justify-content-between d-flex" style="height: 90%;">
              <div class="m-3">
                  <h6>الطلاب</h6>
                  <br>
                  <h6>0</h6>
              </div>
              <img class="m-3" src="~/images/graduation.png" alt="" style="width: 40px; height: 40px;">
          </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3" style="height: 150px;">
          <div id="sec2" class="container justify-content-between d-flex" style="height: 90%;">
              <div class="m-3">
                  <h6>الموظفين</h6>
                  <br>
                  <h6>0</h6>
              </div>
              <img class="m-3" src="~/images/productivity.png" alt="" style="width: 40px; height: 40px;">
          </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3" style="height: 150px;">
          <div id="sec3" class="container justify-content-between d-flex" style="height: 90%;">
              <div class="m-3">
                  <h6>الدفعات</h6>
                  <br>
                  <h6>0</h6>
              </div>
              <img class="m-3" src="~/images/group.png" alt="" style="width: 40px; height: 40px;">
          </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3" style="height: 150px;">
          <div id="sec4" class="container justify-content-between d-flex" style="height: 90%;">
              <div class="m-3">
                  <h6>الاقسام</h6>
                  <br>
                  <h6>0</h6>
              </div>
              <img class="m-3" src="~/images/sections.png" alt="" style="width: 40px; height: 40px;">
          </div>
      </div>
  </div>
</div>
