<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HUc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/HUc.styles.css" asp-append-version="true" />
    <!-- Add any other necessary stylesheets -->
    <style>
        .container {
            max-width: 500px; /* Adjust the max-width as needed */
            margin-top: 50px; /* Add margin to center the container vertically */
        }
    </style>
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Add any other necessary scripts -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
