  <form action="">


    <section class="pt-3 ">
        <div id="personal-info" class="shadow">
            <span class="bg-color">البيانات الشخصية</span>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2">اسم الطالب</label>
                    <input type="text" class="form-control" placeholder="ادخل اسم الطالب">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2">اسم الام</label>
                    <input type="text" class="form-control" placeholder="ادخل اسم الام">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2">الجنسية</label>
                    <select name=""  class="form-control " >

                        <option value="عراقي" selected>عراقي</option>
                        <option value="هندي" >هندي</option>
                        <option value="امريكي" >امريكي</option>
                        <option value="بريطاني" >بريطاني</option>
                        <option value="كندي" >كندي</option>
                        <option value="اماراتي" >اماراتي</option>
                    </select>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2">الجنس</label>
                    <select name="" class="form-control " placeholder="اختر الجنس" id="">
                        <option value="" disabled selected>اختر الجنس  </option>
                        <option value="ذكر">ذكر</option>
                        <option value="انثي">انثي</option>
                    </select>

                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2">الديانة</label>
                    <select name="" class="form-control " id="">

                        <option value="مسلم" selected>مسلم</option>
                        <option value="مسيحي">مسيحي</option>
                        <option value="يهودي">يهودي</option>
                        <option value="غير ذلك">غير ذلك</option>
                    </select>

                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2"> تاريخ الميلاد</label>
                    <input type="date" class="form-control" placeholder="ادخل اسم الطالب">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2">محافظة الولادة</label>
                    <select name="" class="form-control " id="">
                        <option value="" disabled selected>اختر محافظة  </option>
                        <option value="بغداد" >بغداد</option>
                        <option value="الانبار ">الانبار </option>
                        <option value="كربلاء ">كربلاء </option>
                        <option value="النجف ">النجف </option>
                        <option value="السليمانية ">السليمانية </option>
                    </select>

                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2"> رقم الهوية الوطنية</label>
                    <input type="text" class="form-control" placeholder="ادخل رقم الهوية">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2"> تاريخ اصدار البطاقة الوطنية</label>
                    <input type="date" class="form-control">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2"> تاريخ انتهاء البطاقة الوطنية</label>
                    <input type="date" class="form-control">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2"> رقم الجواز</label>
                    <input type="text" class="form-control" placeholder="ادخل رقم الجواز">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2"> تاريخ اصدار الجواز</label>
                    <input type="date" class="form-control">
                </div>
                <div class="col-sm-12 col-md-4 mt-2">
                    <label for="" class="mb-2"> تاريخ انتهاء الجواز</label>
                    <input type="date" class="form-control">
                </div>
                <div class="col-sm-12 col-md-4 mt-2">
                    <label for="" class="mb-2">رقم هاتف الطالب</label>
                    <input type="number" class="form-control" placeholder="ادخل رقم الهاتف">
                </div>
                <div class="col-sm-12 col-md-4 mt-2">
                    <label for="" class="mb-2">رقم هاتف ولي الامر</label>
                    <input type="number" class="form-control" placeholder="ادخل رقم هاتف ولي الامر">
                </div>
            </div>
        </div>
    </section>

    <section class="pt-3">
        <div id="Accommodation-info" class="shadow ">
            <span class="bg-color"> معلومات السكن</span>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3 mt-2  ">
                    <label for="" class="mb-2"> محافظة الاقامة</label>
                    <select name="" class="form-control " id="">
                        <option value="" disabled selected>اختر محافظة الاقامة  </option>
                        <option value="بغداد" >بغداد</option>
                        <option value="الانبار ">الانبار </option>
                        <option value="كربلاء ">كربلاء </option>
                        <option value="النجف ">النجف </option>
                        <option value="السليمانية ">السليمانية </option>
                    </select>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 mt-2">
                    <label for="" class="mb-2"> المدينة</label>
                    <input type="text" class="form-control" placeholder="ادخل اسم المدينة">
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 mt-2">
                    <label for="" class="mb-2"> الحي</label>
                    <input type="text" class="form-control" placeholder="ادخل اسم الحي">
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 mt-2">
                    <label for="" class="mb-2"> الشارع</label>
                    <input type="text" class="form-control" placeholder="ادخل اسم الشارع">
                </div>
            </div>
        </div>
    </section>

    <section class="pt-3">
        <div id="studying-info" class="shadow ">
            <span class="bg-color">معلومات الدراسة السابقة - خريج اعدادي</span>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2 d-block">خريج اعداية </label>
                    <span class="box-right ">لا</span>
                    <span class="box-left ">نعم</span>
                    <!-- <div class="fx-block">
                        <div class="toggle">
                            <div>
                                <input type="checkbox" id="toggles">
                                <div data-unchecked="نعم" data-checked="لا">
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2">نوع الدراسة في المدرسة</label>
                    <select name="" class="form-control " id="">
                        <option value="" disabled selected>اختر نوع الدراسة  </option>
                        <option value="مسائي" >مسائي</option>
                        <option value="صباحي ">صباحي </option>
                        <option value="خارجي ">خارجي </option>
                    </select>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2">الفرع </label>
                    <select name="" class="form-control " id="">
                        <option value="" disabled selected> اختر الفرع  </option>
                        <option value="احيائي" >احيائي</option>
                        <option value="علمي ">علمي </option>
                        <option value="ادبي ">ادبي </option>
                        <option value="مهني ">مهني </option>
                    </select>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2">سنة التخرج </label>
                    <select name="" class="form-control " id="">
                        <option value="" disabled selected>سنة التخرج  </option>
                        <option value="2001-2002" >2001-2002</option>
                        <option value="2002-2003 ">2002-2003 </option>
                        <option value="2003-2004 ">2003-2004 </option>
                        <option value="2004-2005 ">2004-2005 </option>
                        <option value="2005-2006 ">2005-2006 </option>
                        <option value="2006-2007 ">2006-2007 </option>
                    </select>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2">الدور </label>
                    <select name="" class="form-control " id="">
                        <option value="" disabled selected>الدور  </option>
                        <option value="الدور الاول" >الدور الاول</option>
                        <option value="الدور الثاني ">الدور الثاني </option>
                        <option value="الدور الثالث ">الدور الثالث </option>
                        <option value="محاولات ">محاولات </option>
                    </select>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2"> المواد</label>
                    <input type="number" class="form-control" placeholder="ادخل عدد المواد">    
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2"> درجة الفرنسي</label>
                    <input type="number" class="form-control" placeholder=" 0">    
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2">اسم المدرسة</label>
                    <input type="text" class="form-control" placeholder="ادخل اسم المدرسة">    
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2">اسم المديرية</label>
                    <input type="text" class="form-control" placeholder="ادخل اسم المديرية">    
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2">الرقم الامتحاني</label>
                    <input type="text" class="form-control" placeholder="ادخل الرقم الامتحاني">    
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2">الرقم السري</label>
                    <input type="text" class="form-control" placeholder="ادخل الرقم السري">    
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2">مجموع الدرجات</label>
                    <input type="number" class="form-control" placeholder="  0">    
                </div>
                <div class="col-sm-12  mt-2">
                    <label for="" class="mb-2">المعدل </label>
                    <input type="number" class="form-control" placeholder="  0">    
                </div>



            </div>
        </div>
    </section>

    <section class="pt-3">
        <div id="studying-info" class="shadow ">
            <span class="bg-color">معلومات الدراسة السابقة - المعهد</span>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2 d-block">خريج معهد </label>
                    <span class="box-right ">لا</span>
                    <span class="box-left ">نعم</span>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2 d-block"> من الاوائل علي الدفعة </label>
                    <span class="box-right ">لا</span>
                    <span class="box-left ">نعم</span>

                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2">اسم المعهد</label>
                    <input type="text" class="form-control" placeholder="ادخل اسم المعهد">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2">المعدل في المعهد</label>
                    <input type="number" class="form-control" placeholder="0">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2"> المعدل العام في المعهد</label>
                    <input type="number" class="form-control" placeholder="0">
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2"> تسلسل الطالب في الدفعة</label>
                    <input type="number" class="form-control" placeholder="0">
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 mt-2">
                    <label for="" class="mb-2">إجمالي عدد الطلاب في الدفعة </label>
                    <input type="number" class="form-control" placeholder="0">
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 mt-2">
                    <label for="" class="mb-2">إجمالي عدد الطلاب في الدفعة </label>
                    <input type="number" class="form-control" placeholder="0">
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 mt-2">
                    <label for="" class="mb-2">سنة التخرج</label>
                    <select name="" class="form-control " id="">
                        <option value="" disabled selected>سنة التخرج</option>
                        <option value="2001-2002" >2001-2002</option>
                        <option value="2002-2003 ">2002-2003 </option>
                        <option value="2003-2004 ">2003-2004 </option>
                        <option value="2004-2005 ">2004-2005 </option>
                        <option value="2005-2006 ">2005-2006 </option>
                        <option value="2006-2007 ">2006-2007 </option>
                    </select>  
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 mt-2">
                    <label for="" class="mb-2">التخصص </label>
                    <input type="text" class="form-control" placeholder="ادخل التخصص">
                </div>
            </div>
        </div>

    </section>

    <section class="pt-3">
        <div id="extra-info" class="shadow ">
            <span class="bg-color">بيانات الطالب - معلومات إضافية</span>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2"> نافذة الدخول </label>
                    <select name="" class="form-control " id="">
                        <option value="" disabled selected>نافذة الدخول </option>
                        <option value="الاولي" >الاولي</option>
                        <option value="الثانية ">الثانية </option>
                        <option value="الثالثة ">الثالثة </option>
                    </select>   
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2">سنة القبول</label>
                    <select name="" class="form-control " id="">
                        <option value="" disabled selected>سنة القبول</option>
                        <option value="2022-2023" >2022-2023</option>
                        <option value="2023-2024 ">2023-2024 </option>
                        <option value="2024-2025 ">2024-2025 </option>
                        <option value="2025-2026 ">2025-2026 </option>
                        <option value="2026-2027 ">2026-2027 </option>
                        <option value="2027-2028 ">2027-2028 </option>
                        <option value="2028-2029 ">2028-2029 </option>
                        <option value="2029-2030 ">2029-2030 </option>
                        <option value="2030-2031 ">2030-2031 </option>
                    </select>  
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2">القسم </label>
                    <select name="" class="form-control " id="">
                        <option value="" disabled selected>لا يوجد</option>
                    </select>  
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2">اسم المستخدم في الوزارة </label>
                    <input type="text" placeholder="ادخل اسم المستخدم في الوزارة" class="form-control ">  
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2">الرمز السري في الوزارة</label>
                    <input type="text" placeholder="ادخل الرمز السري في الوزارة" class="form-control ">  
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mt-2">
                    <label for="" class="mb-2 d-block">الحضور </label>
                    <span class="box-right ">صباحي</span>
                    <span class="box-left ">مسائي</span>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-3  mt-2">
                    <label for="" class="mb-2 d-block">لديه اقارب </label>
                    <span class="box-right ">لا</span>
                    <span class="box-left ">نعم</span>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3  mt-2">
                    <label for="" class="mb-2"> اختر الطالب </label>
                    <select name=""  id="" class="form-control ">
                        <option value="" disabled selected>Select an option</option>
                    </select>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3  mt-2">
                    <label for="" class="mb-2"> قنوات القبول  </label>
                    <select name=""  id="" class="form-control ">
                        <option value="" disabled selected>قنوات القبول</option>
                        <option value="العامة">العامة</option>
                        <option value="ذوي الشهداء">ذوي الشهداء</option>
                        <option value="السجناء السياسيين">السجناء السياسيين</option>
                        <option value="ابناء الاساتذة">ابناء الاساتذة</option>
                        <option value="المنحة المجانية">المنحة المجانية</option>
                        <option value="الاوائل">الاوائل</option>
                        <option value="المتميزون">المتميزون</option>
                        <option value="ذوي حملة الشهادات العليا">ذوي حملة الشهادات العليا</option>
                    </select>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3  mt-2">

                    <label for="file-upload" class="custom-file-upload">
                        اختر الصورة <i class="fa-solid fa-download text-white"></i>
                    </label>
                    <input id="file-upload" type="file" />


                </div>
                <div class="col-sm-12 mt-2">
                    <label for="" class="mb-2 opacity-0 "  >m</label>
                    <input type="submit" class="form-control color-btn " value ="حفظ  ">
                </div>


            </div>

        </div>

    </section>


</form>
